<launch>
<!-- Launching Node for material_handling_robot package -->
<node pkg="material_handling_robot" name="material_handling_robot"
	type="material_handling_robot"
	output="screen"
	launch-prefix="gnome-terminal --command">
<rosparam file="$(find material_handling_robot)/params/costmap_common_params_waffle.yaml" command="load" ns="/costmap_node/costmap" />
<rosparam file="$(find material_handling_robot)/params/global_costmap_params.yaml" command="load" ns="global_costmap" />
<rosparam file="$(find material_handling_robot)/params/local_costmap_params.yaml" command="load" ns="local_costmap" />
<rosparam file="$(find material_handling_robot)/params/move_base_params.yaml" command="load" />
<rosparam file="$(find material_handling_robot)/params/dwa_local_planner_params_waffle.yaml" command="load" />
</node>

</launch>
