<launch>
  
<!-- Arguments -->
<arg name="world_file"
       default="$(find material_handling_robot)/data/world/hospital.world"/>
<arg name="x_pos_vals" default="0.0"/>
<arg name="y_pos_vals" default="0.0"/>
<arg name="z_pos_vals" default="0.0"/>

<include file= "$(find turtlebot_gazebo)/launch/turtlebot_world.launch"> 
      <arg name="world_file" value="$(arg world_file)"/>
  </include>


 <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch"> 
       <arg name="map_file" value="$(find material_handling_robot)/data/map/hospitalmap.yaml"/>
 </include>

<!-- Launching Node for material_handling_robot package -->
<node pkg="material_handling_robot" name="materialHandlingRobot"
	type="materialHandlingRobot"
	output="screen"
	launch-prefix="gnome-terminal --command">
<rosparam file="$(find material_handling_robot)/params/costmap_common_params_waffle.yaml" command="load" ns="/costmap_node/costmap" />
<rosparam file="$(find material_handling_robot)/params/global_costmap_params.yaml" command="load" ns="global_costmap" />
<rosparam file="$(find material_handling_robot)/params/local_costmap_params.yaml" command="load" ns="local_costmap" />
<rosparam file="$(find material_handling_robot)/params/move_base_params.yaml" command="load" />
<rosparam file="$(find material_handling_robot)/params/dwa_local_planner_params_waffle.yaml" command="load" />
</node>

<include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>

</launch>

