<launch>
  
<!-- Arguments -->
<arg name="record" default="false" />
<arg name="secs" default="30"/>
<arg name="world_file"
       default="$(find material_handling_robot)/data/world/hospital.world"/>
<arg name="x_pos_vals" default="0.0"/>
<arg name="y_pos_vals" default="0.0"/>
<arg name="z_pos_vals" default="0.0"/>

<include file= "$(find turtlebot_gazebo)/launch/turtlebot_world.launch"> 
      <arg name="world_file" value="$(arg world_file)"/>
  </include>


 <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch"> 
       <arg name="map_file" value="$(find material_handling_robot)/data/map/hospitalmap.yaml"/>
 </include>

<!-- param files -->
<rosparam file="$(find material_handling_robot)/param/costmap_common_params.yaml" command="load" ns="/costmap_node/costmap" />
<rosparam file="$(find material_handling_robot)/param/global_costmap_params.yaml" command="load" ns="global_costmap" />
<rosparam file="$(find material_handling_robot)/param/local_costmap_params.yaml" command="load" ns="local_costmap" />
<rosparam file="$(find material_handling_robot)/param/move_base_params.yaml" command="load" />
<rosparam file="$(find material_handling_robot)/param/dwa_local_planner_params.yaml" command="load" />

<include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>

<node
     pkg="rosbag"
     name="record"
     type="record"
     args="-a -x /camera/(.*) --duration=$(arg secs) -O $(find material_handling_robot)/results/turtlebotRecord.bag"
  if="$(arg record)"
 />

</launch>

